{% extends 'admin/biu_base.html' %}

{% block body %}
<div id="postadmin">
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th><span>image</span></th>
                <th><span>content</span></th>
                <th><span>channel</span></th>
                <th><span>likes_count</span></th>
                <th><span>is deleted</span></th>
                <th><span>created</span></th>
            </tr>
            </thead>
            <tbody>
            {% for post in items %}
            <tr>
                <td><img src="{{ url_for('static', filename = 'images/' + post.image) }}"></td>
                <td class="postcontent"><span>{{ post.content }}</span></td>
                <td><span>{{ post.channel_id }}</span></td>
                <td><span>{{ post.likes_count }}</span></td>
                <td><span>{{ post.is_deleted }}</span></td>
                <td><span>{{ get_date(post.created) }}</span></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{{ super() }}
{% endblock %}