{% extends 'admin/biu_base.html' %}

{% block body %}
<div id="useradmin">
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <td><span>nickname</span></td>
                <td><span>email</span></td>
                <td><span>avatar</span></td>
                <td><span>signature</span></td>
                <td><span>sex</span></td>
                <td><span>created</span></td>
                <td><span>post count</span></td>
                <td><span>comment count</span></td>
                <td><span>device</span></td>
            </tr>
            </thead>
            <tbody>
            {% for user in items %}
            <tr>
                <td><span>{{ user.nickname }}</span></td>
                <td><span>{{ user.email }}</span></td>
                <td><img src="{{ url_for('static', filename = 'images/' + user.avatar) }}"></td>
                <td><span>{{ user.signature }}</span></td>
                <td><span>{{ 'male' if user.sex else 'female' }}</span></td>
                <td><span>{{ get_date(user.created) }}</span></td>
                <td><span>{{ user.post_count() }}</span></td>
                <td><span>{{ user.post_comment_count() }}</span></td>
                <td><span>{{ 'iOS' if user.device else 'Android' }}</span></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{{ super() }}
{% endblock %}