<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>biu~图片弹幕分享社区</title>
    <link rel="stylesheet" href="http://biu2014.qiniudn.com/static/css/download.css">
</head>
<body>
    <div class="header">
        <div class="logo"><img class="lg" src="http://biu2014.qiniudn.com/static/img/logo.png"/></div>
        <div class="name"><h1>图片弹幕分享社区</h1></div>
    </div>
    <div class="content">
        <div class="left-1">
            <div class="dl">iOS端下载</div>
            <div class="two"><img style="height:170px;width:170px;" src="http://biu2014.qiniudn.com/static/img/two-1.jpg"/><div>
        </div>
        <div class="left-2">
            <div class="dl">安卓端下载</div>
            <div class="two"><img style="height:170px;width:170px;" src="http://biu2014.qiniudn.com/static/img/two-1.jpg"/><div>
        </div>
        <div class="right"><img class="pic" src="http://biu2014.qiniudn.com/static/img/tu.png"/></div>
    </div>
    <div class="footer">
        <p class="foot0">欢迎撕逼(●'◡'●)ﾉ </p>
        <div class="line"></div>
        <div class="foot1">
            <p class="foot" style="margin-top:50px;">QQ：3094691268 </p>
            <p class="foot">QQ群：422498513 </p>
            <p class="foot">微博：@biu图片弹幕分享社区</p>
            <p class="foot">微信公众号：biu图片弹幕分享社区</p>
        </div>
        <div class="line-0"></div>
        <div class="two-0">
            <img style="height:120px;width:120px;" src="http://biu2014.qiniudn.com/static/img/two-1.jpg"/>
            <div style="margin-left:300px;margin-top:-80px;color:#8A8A8A;">
                <p>微信公众号</p>
                <p>给比你想要的更多</p>
            </div>
        <div>
        <div class="beian">@陕ICP备14013197号</div>
    </div>

</body>
</html>