<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>biu～图片弹幕分享社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <meta content="telephone=no" name="format-detection">
    <meta content="width=device-width, initial-scale=1, minimal-ui" name="viewport">
    <script src="http://biu2014.qiniudn.com/static/js/jquery.min.js"></script>
    <link href="http://biu2014.qiniudn.com/static/css/index.css" rel="stylesheet">
    <link href="http://biu2014.qiniudn.com/static/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://biu2014.qiniudn.com/static/js/index.js"></script>
</head>
<body>
    <div class="header">
        <div class="name_bg">
            <div class="name">biu~</div>
        </div>
        <div class="slogan"><span class="slg">图片弹幕分享社区╭(●｀∀´●)╯╰(●'◡'●)╮</span></div>
    </div>
        <div class="content">
            <div class="one1">
                <img class="img bg-img" src="http://biu2014.qiniudn.com/static/img/1.jpg"/>
                <div class="des1">
                    <p style="margin-top:50px;font-size:15px;font-weight:600;">英雄</p>
                    <p style="font-size:45px;font-weight:800;color:red;">画 师</p>
                    <p style="font-size:13px;font-weight:700;">特点：脑洞奇大</p>
                    <p style="font-size:13px;font-weight:700;">妙笔生瓜๑乛◡乛๑</p>
                </div>
            </div>
            <div class="one2">
                <img class="img bg-img" src="http://biu2014.qiniudn.com/static/img/4.jpg"/>
                <div class="des2">
                    <p style="margin-top:50px;font-size:15px;font-weight:600;">英雄</p>
                    <p style="font-size:45px;font-weight:800;color:red;">调教师</p>
                    <p style="font-size:13px;font-weight:700;">特点：各种工具</p>
                    <p style="font-size:13px;font-weight:700;">妖魔各种形象</p>
                    <p style="font-size:13px;font-weight:700;">你怕不怕٩͡[๏̯͡๏]</p>
                </div>
            </div>
            <div class="one3">
                <img class="img bg-img" src="http://biu2014.qiniudn.com/static/img/2.jpg"/>
                <div class="des3">
                    <p style="margin-top:50px;font-size:15px;font-weight:600;">英雄</p>
                    <p style="font-size:45px;font-weight:800;color:red;">逗 比</p>
                    <p style="font-size:13px;font-weight:700;">特点：biubiu~</p>
                    <p style="font-size:13px;font-weight:700;">欢迎加入十万个小逗比行列</p>
                    <p style="font-size:13px;font-weight:700;">ヾ(*´▽‘*)ﾉ</p>
                </div>
            </div>
            <div style="width:100%;height:50px;text-align:center;position:absolute;margin-top:-30px;"><span style="line-height:50px;font-size:30px;color:red;">请选择英雄进入社区</span></div>
            <div style="width:100%;height:50px;text-align:center;position:absolute;margin-top:px;"><span style="line-height:50px;font-size:30px;color:red;">(●'◡'●)ﾉ </span></div>

        </div>
        <div class="footer">
            <p class="foot0">欢迎撕逼(●'◡'●)ﾉ </p>
            <div class="line"></div>
            <div class="foot1">
                <p class="foot">QQ：3094691268 </p>
                <p class="foot">微博：@biu图片弹幕分享社区</p>
                <p class="foot">微信公众号：biu图片弹幕分享社区</p>
            </div>
        </div>
</body>
</html>